.container {
  padding: 4px;
  background-color: #bfd5ff;
  border: 2px solid #5992ff;
  border-radius: 8px;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
  flex-shrink: 1.2;
}

.toggle-icon {
  color: #001743;
  cursor: pointer;
}

.input-focus:focus-within {
  width: 100%;
}

.subtask {
  transition: all 0.5s ease;
  width: calc(100% - 8px);
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-self: center;
}

.subtask__open {
  padding: 4px;
  height: max-content;
}

.subtask__close {
  height: 0;
  overflow: hidden;
}
