.container {
  all: unset;
  cursor: pointer;

  border-radius: 8px;

  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f0f5ff;
}
